<template>
  <v-layout>
    <v-flex class="text-center">
      Алгоритм
    </v-flex>
  </v-layout>
</template>

<script>
// import SRP from '../../assets/js/srp'

export default {
  created () {
    // const username = 'alice'
    // const password = 'password'
    // const username1 = 'alice1'
    // const password1 = 'password1'

    // const validParams = [1024, 1536, 2048, 4096]
    // for (const i in validParams) {
    //   const server = new SRP(validParams[i])
    //   const client = new SRP(validParams[i])

    //   client.signUp(username, password, server)
    //   console.log('same', validParams[i], client.logIn(username, password, server))
    //   console.log('custom', validParams[i], client.logIn(username1, password1, server))
    // }
  }
}
</script>
