<template>
  <div class="channel">
    <v-data-table
      :headers="headers"
      :items="log"
      :items-per-page="5"
      :no-data-text="'Данных пока нет'"
      :no-results-text="'По запросу ничего не найдено'"
      dense
    />
  </div>
</template>

<script>
import lib from '../../assets/js/lib'

export default {
  data () {
    return {
      headers: [
        {
          text: 'Время',
          align: 'left',
          sortable: false,
          value: 'timestamp'
        },
        {
          text: 'Отправитель',
          align: 'left',
          sortable: false,
          value: 'senderIp'
        },
        {
          text: 'Получатель',
          align: 'left',
          sortable: false,
          value: 'receiverIp'
        },
        {
          text: 'Сервис получателя',
          align: 'left',
          sortable: false,
          value: 'serviceName'
        },
        {
          text: 'Параметры',
          align: 'left',
          sortable: false,
          value: 'props'
        }
      ],
      log: []
    }
  },

  mounted () {
    this.$bus.$on('channelSend', this.send)
  },

  beforeDestroy () {
    this.$bus.$off('channelSend', this.send)
  },

  methods: {
    send (sender, receiver, service, props) {
      const process = this.$parent.$parent.process
      const from = process[sender]
      if (from === undefined) {
        console.error(`[channel] process '${sender}' does not exists`)
        return
      }
      const to = process[receiver]
      if (to === undefined) {
        console.error(`[channel] process '${receiver}' does not exists`)
        return
      }
      if (to.vm.$children[0][service] === undefined) {
        console.error(`[channel] process '${receiver}' doesn't have service '${service}'`)
        return
      }
      if (typeof to.vm.$children[0][service] !== 'function') {
        console.error(`[channel] service '${service}' of process '${receiver}' is not a function`)
        return
      }
      this.log.push({
        senderIp: sender,
        senderTitle: from.title,
        receiverIp: receiver,
        receiverTitle: to.title,
        serviceName: service,
        props: JSON.stringify(props),
        timestamp: lib.strftime(new Date(), '%d.%m.%y %H:%M:%S.%f')
      })
      to.vm.$children[0][service]({
        params: props,
        context: {
          ip: sender
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "$v-colors-css";
@import "../../assets/css/extends.scss";
</style>
