<template>
  <div class="client">
    <v-expand-transition>
      <v-alert
        v-if="alertDisplay"
        :type="alertType"
        class="myAlert"
      >
        {{ alertText }}
      </v-alert>
    </v-expand-transition>
    <div v-if="!logged" class="tabs-wrapper">
      <v-tabs
        v-model="tab"
        class="myTabs"
        background-color="transparent"
        show-arrows
      >
        <v-tab href="#login">
          Вход
        </v-tab>
        <v-tab href="#signup">
          Регистрация
        </v-tab>
        <v-tab-item class="myTab" value="login">
          <div class="myTab__wrapper">
            <div class="myTab__form">
              <v-text-field
                v-model="username"
                :rules="formRules"
                label="Имя пользователя"
                required
              />
              <v-text-field
                v-model="password"
                :rules="formRules"
                label="Пароль"
                :type="'password'"
                required
              />
              <div class="form__buttons">
                <v-btn
                  :disabled="!(username.length !== 0 && password.length !== 0)"
                  color="primary"
                  rounded
                  @click="login"
                >
                  Войти
                </v-btn>
                <v-btn
                  color="accent"
                  rounded
                  @click="tab = 'signup'"
                >
                  Зарегистрироваться
                </v-btn>
              </div>
            </div>
          </div>
        </v-tab-item>
        <v-tab-item class="myTab" value="signup">
          <div class="myTab__wrapper">
            <div class="myTab__form">
              <v-text-field
                v-model="username"
                :rules="formRules"
                label="Имя пользователя"
                required
              />
              <v-text-field
                v-model="password"
                :rules="formRules"
                label="Пароль"
                :type="'password'"
                required
              />
              <v-text-field
                ref="passwordVerification"
                v-model="passwordVerification"
                :rules="pvRules"
                label="Подтверждение пароля"
                :type="'password'"
                required
              />
              <div class="form__buttons">
                <v-btn
                  :disabled="!(
                    username.length !== 0 &&
                    password.length !== 0 &&
                    passwordVerification.length !== 0 &&
                    password === passwordVerification
                  )"
                  color="primary"
                  rounded
                  @click="signup"
                >
                  Зарегистрироваться
                </v-btn>
              </div>
            </div>
          </div>
        </v-tab-item>
      </v-tabs>
    </div>
    <div v-if="logged">
      <span @click="logout">logged</span>
    </div>
  </div>
</template>

<script>
import SRP from '../../assets/js/srp'

export default {
  data () {
    return {
      tab: 'login',
      username: '',
      formRules: [
        v => !!v || 'Заполните поле'
      ],
      password: '',
      passwordVerification: '',
      pvRules: [
        v => !!v || 'Заполните поле',
        v => (this.passwordVerification === this.password) || 'Пароль и подтверждение пароля должны совпадать'
      ],
      alertDisplay: false,
      alertType: 'success',
      alertText: 'test',
      logged: false,
      timerID: null,
      srp: new SRP({ param: 4096 })
    }
  },

  methods: {
    logout () {
      this.$bus.$emit('channelSend', this.$parent.ip, 'server', 'logout', { username: this.username })
    },
    logoutResponse ({ context, params }) {
      if (params.message !== undefined) {
        this.showAlert('success', params.message)
        this.logged = false
      }
    },
    login () {
      this.srp.clearClient()
      this.srp.setUsername(this.username)
      this.srp.setPassword(this.password)
      this.srp.genSecretUsersValue()
      this.srp.calcPublicUsersValue()
      this.$bus.$emit('channelSend', this.$parent.ip, 'server', 'login', { stage: 'initial', username: this.username, key: this.srp.A.toString(16) })
    },

    loginResponse ({ context, params }) {
      if (params.stage === undefined) {
        this.srp.clearClient()
        return
      }
      switch (params.stage) {
        case 'error':
          let type = 'error'
          if (params.type !== undefined) {
            type = params.type
          }
          this.showAlert(type, params.message)
          this.srp.clearClient()
          break
        case 'initial':
          this.srp.setPublicServersValue(params.key, 16)
          this.srp.setSalt(params.salt)
          this.srp.calcScramblingParameter()
          this.srp.calcPrivateKey()
          this.srp.calcUsersSessionKey()
          this.srp.hashUsersSessionKey()
          this.$bus.$emit('channelSend', this.$parent.ip, 'server', 'login', { stage: 'second', username: this.username, key: this.srp.uk })
          break
        case 'second':
          this.showAlert('success', params.message)
          this.logged = true
          this.srp.clearClient()
          break
      }
    },

    signup () {
      this.srp.clearClient()
      this.srp.setUsername(this.username)
      this.srp.setPassword(this.password)
      this.$bus.$emit('channelSend', this.$parent.ip, 'server', 'signup', { stage: 'initial', username: this.username })
    },

    signupResponse ({ context, params }) {
      this.passwordVerification = ''
      if (params.stage === undefined) {
        this.srp.clearClient()
        return
      }
      switch (params.stage) {
        case 'initial':
          this.srp.setSalt(params.salt)
          this.srp.calcPrivateKey()
          this.$bus.$emit('channelSend', this.$parent.ip, 'server', 'signup', { stage: 'second', key: `${this.srp.x}` })
          break
        case 'second':
          if (params.message === 'success') {
            this.tab = 'login'
            this.showAlert('success', 'Пользователь зарегистрирован')
            this.srp.clearClient()
          }
          break
        case 'error':
          let type = 'error'
          if (params.type !== undefined) {
            type = params.type
          }
          this.showAlert(type, params.message)
          this.srp.clearClient()
          break
      }
    },

    showAlert (type, text, time = 5000) {
      if (this.timerID !== null) {
        clearTimeout(this.timerID)
      }
      this.alertType = type
      this.alertText = text
      this.alertDisplay = true
      const self = this
      this.timerID = setTimeout(function () {
        self.alertDisplay = false
        self.timerID = null
      }, time)
    }
  }
}
</script>

<style lang="scss">
@import "$v-colors-css";
@import "../../assets/css/extends.scss";

.client {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.myAlert {
  width: calc(100% - 6px);
  margin: 3px;
}

.tabs-wrapper {
  flex-grow: 2;
}

.myTabs {
  height: 100%;
  display: flex;
  flex-direction: column;

  &.v-tabs {
    .v-item-group.v-tabs-items {
      flex-grow: 2;

      .v-window__container {
        height: 100%;
      }
    }
  }
}

.myTab {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__form {
    padding: 0 10px;
  }
}

.form {
  margin: 0 15px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__buttons {
  margin-top: 25px;
}

.back{
  margin-bottom: 25px;
}

</style>
