<template>
  <div
    v-if="show"
    class="contextMenu"
    :style="{
      'left': right === null ? left.toString() + 'px' : '',
      'top': bottom === null ? top.toString() + 'px' : '',
      'right': right === null ? '' : right.toString() + 'px',
      'bottom': bottom === null ? '' : bottom.toString() + 'px'
    }"
  >
    contextMenu
  </div>
</template>

<script>
export default {
  data () {
    return {
      show: false,
      top: 0,
      left: 0,
      bottom: null,
      right: null
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/css/extends.scss";

.contextMenu {
  box-shadow: black 0px 0px 10px 3px;
  position: fixed;
  background: white;
}
</style>
