<template>
  <div class="server">
    <v-tabs
      v-model="tab"
      class="myTabs"
      background-color="transparent"
      show-arrows
    >
      <v-tab href="#sessions">
        Сессии
      </v-tab>
      <v-tab href="#users">
        Пользователи
      </v-tab>
      <v-tab-item class="myTab" value="sessions">
        <v-simple-table>
          <thead>
            <tr>
              <th class="text-left">
                IP
              </th>
              <th class="text-left">
                Логин
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(s, i) in session" :key="i">
              <td>
                {{ s.ip }}
              </td>
              <td>
                {{ i }}
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-tab-item>
      <v-tab-item class="myTab" value="users">
        <v-simple-table>
          <thead>
            <tr>
              <th class="text-left">
                Логин
              </th>
              <th class="text-left">
                Соль
              </th>
              <th class="text-left">
                Проверочное значение
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(u, l) in user" :key="l">
              <td>
                {{ l }}
              </td>
              <td>
                {{ u.s }}
              </td>
              <td>
                {{ u.v }}
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
import SRP from '../../assets/js/srp'

export default {
  data () {
    return {
      tab: null,
      user: {},
      session: {},
      srp: new SRP({
        param: 4096,
        gen: {
          useUpperCase: true,
          useDigits: true
        }
      })
    }
  },

  methods: {
    logout ({ context, params }) {
      if (!this.session[params.username]) {
        this.$bus.$emit('channelSend', this.$parent.ip, context.ip, 'logoutResponse', { error: 'Пользователь не авторизован' })
      } else {
        delete this.session[params.username]
        this.$bus.$emit('channelSend', this.$parent.ip, context.ip, 'logoutResponse', { message: 'Success' })
      }
    },
    login ({ context, params }) {
      if (params.stage === undefined) {
        this.$bus.$emit('channelSend', this.$parent.ip, context.ip, 'loginResponse', { stage: 'error', message: `Не установлен параметр stage` })
        this.srp.clearServer()
        return
      }
      switch (params.stage) {
        case 'initial':
          this.srp.clearServer()
          if (this.user[params.username] === undefined) {
            this.$bus.$emit('channelSend', this.$parent.ip, context.ip, 'loginResponse', { stage: 'error', message: `Неверно указан пользователь или пароль` })
          } else {
            const user = this.user[params.username]
            this.srp.setUsername(params.username)
            this.srp.setPublicUsersValue(params.key, 16)
            this.srp.setPasswordVerifier(user.v, 16)
            this.srp.setSalt(user.s)
            this.srp.genSecretServersValue()
            this.srp.calcPublicServersValue()
            this.$bus.$emit('channelSend', this.$parent.ip, context.ip, 'loginResponse', { stage: 'initial', key: this.srp.B.toString(16), salt: this.srp.s })
          }
          break
        case 'second':
          this.srp.calcScramblingParameter()
          this.srp.calcServersSessionKey()
          this.srp.hashServersSessionKey()
          this.srp.setHashedUsersSessionKey(params.key)
          if (this.srp.compareHashes()) {
            if (this.session[this.srp.I] !== undefined) {
              this.$bus.$emit('channelSend', this.$parent.ip, context.ip, 'loginResponse', { stage: 'error', message: 'Пользователь уже авторизован', type: 'warning' })
            } else {
              this.$bus.$emit('channelSend', this.$parent.ip, context.ip, 'loginResponse', { stage: 'second', message: 'Пользователь авторизован' })
              this.$set(this.session, this.srp.I, { ip: context.ip })
            }
          } else {
            this.$bus.$emit('channelSend', this.$parent.ip, context.ip, 'loginResponse', { stage: 'error', message: `Неверно указан пользователь или пароль` })
          }
          this.srp.clearServer()
      }
    },

    signup ({ context, params }) {
      if (params.stage === undefined) {
        this.$bus.$emit('channelSend', this.$parent.ip, context.ip, 'signupResponse', { stage: 'error', message: `Не установлен параметр stage` })
        this.srp.clearServer()
        return
      }
      switch (params.stage) {
        case 'initial':
          this.srp.clearServer()
          if (this.user[params.username] !== undefined) {
            this.$bus.$emit('channelSend', this.$parent.ip, context.ip, 'signupResponse', { stage: 'error', message: `Пользователь с логином '${params.username}' уже зарегистрирован` })
            return
          }
          this.srp.clearServer()
          this.srp.genSalt()
          this.srp.setUsername(params.username)
          this.$bus.$emit('channelSend', this.$parent.ip, context.ip, 'signupResponse', { stage: 'initial', salt: this.srp.s })
          break
        case 'second':
          this.srp.setPrivateKey(params.key)
          this.srp.calcPasswordVerifier()
          this.$set(this.user, this.srp.I, {
            v: this.srp.v.toString(16),
            s: this.srp.s
          })
          this.$bus.$emit('channelSend', this.$parent.ip, context.ip, 'signupResponse', { stage: 'second', message: 'success' })
          this.srp.clearServer()
          break
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "$v-colors-css";
@import "../../assets/css/extends.scss";
</style>
