<template>
  <div
    v-if="show"
    :class="['tile', {'tile_active': active}]"
    :title="title"
    @click="setActive(ip)"
    @contextmenu="contextmenu(ip)"
  >
    {{ title }}
  </div>
</template>

<script>
export default {
  props: {
    ip: { type: String, default: null },
    active: { type: Boolean, default: false },
    title: { type: String, default: null },
    show: { type: Boolean, default: true }
  },

  methods: {
    setActive (ip) {
      this.$parent.scope = this.$parent.process[ip].vm
    },

    contextmenu (ip) {
      event.preventDefault()
      this.setActive(ip)
      return false
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/css/extends.scss";

.tile {
  background-color: #141a20;
  padding: 1px 7px;
  border-radius: 4px;
  margin: 0 3px;
  @extend %noselect;
  cursor: pointer;
  width: 100px;
  text-align: center;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &_active {
    background-color: black;
  }
}
</style>
