<template>
  <div
    v-if="show"
    :class="['window', {'window_active': active}]"
    :style="{
      'width': width.toString() + 'px',
      'height': height.toString() + 'px',
      'left': right === null ? left.toString() + 'px' : '',
      'top': bottom === null ? top.toString() + 'px' : '',
      'right': right === null ? '' : right.toString() + 'px',
      'bottom': bottom === null ? '' : bottom.toString() + 'px'
    }"
    @mousedown="setActive"
    @mouseup="mouseup"
  >
    <div
      class="window__border-top-left"
      @mousedown="resizeStart({top: true, left: true})"
      @mouseup="resizeStop"
    />
    <div
      class="window__border-top"
      @mousedown="resizeStart({top: true})"
      @mouseup="resizeStop"
    />
    <div
      class="window__border-top-right"
      @mousedown="resizeStart({top: true, right: true})"
      @mouseup="resizeStop"
    />
    <div
      class="window__header"
    >
      <div
        class="header__title"
        :title="title"
        @mousedown="hold"
        @mouseup="drop"
      >
        {{ title }} ({{ ip }})
      </div>
      <div
        class="header__close"
        @click="close"
      />
    </div>
    <div
      class="window__border-left"
      @mousedown="resizeStart({left: true})"
      @mouseup="resizeStop"
    />
    <div class="window__body">
      <Server v-if="ip === 'server'" />
      <Channel v-else-if="ip === 'channel'" />
      <Client v-else />
    </div>
    <div
      class="window__border-right"
      @mousedown="resizeStart({right: true})"
      @mouseup="resizeStop"
    />
    <div
      class="window__border-bottom-left"
      @mousedown="resizeStart({bottom: true, left: true})"
      @mouseup="resizeStop"
    />
    <div
      class="window__border-bottom"
      @mousedown="resizeStart({bottom: true})"
      @mouseup="resizeStop"
    />
    <div
      class="window__border-bottom-right"
      @mousedown="resizeStart({bottom: true, right: true})"
      @mouseup="resizeStop"
    />
  </div>
</template>

<script>
import Server from './Server'
import Channel from './Channel'
import Client from './Client'

export default {
  components: {
    Server,
    Channel,
    Client
  },

  props: {
    'width': { type: Number, default: null },
    'height': { type: Number, default: null },
    'left': { type: Number, default: null },
    'right': { type: Number, default: null },
    'top': { type: Number, default: null },
    'bottom': { type: Number, default: null },
    'title': { type: String, default: null },
    'ip': { type: String, default: null },
    'active': { type: Boolean, default: false },
    'show': { type: Boolean, default: true }
  },

  data () {
    return {
      holding: false,
      posX: 0,
      posY: 0
    }
  },

  created () {
    this.$parent.process[this.ip].vm = this
  },

  methods: {
    hold (e) {
      this.$parent.dragging = this
      this.$parent.scope = this
      this.$parent.delta.x = e.clientX
      this.$parent.delta.y = e.clientY
      this.$parent.pos.x = this.left
      this.$parent.pos.y = this.top
    },

    drop (e) {
      this.$parent.mouseup()
    },

    setActive () {
      this.$parent.scope = this
    },

    close () {
      this.$parent.stop(this.ip)
    },

    resizeStart (params) {
      const setting = {
        top: false,
        right: false,
        bottom: false,
        left: false,
        ...params
      }
      this.$parent.resizing = this
      this.$parent.scope = this
      if (setting.left || setting.right) {
        this.$parent.pos.w = event.clientX
        this.$parent.delta.w = this.width
      }
      if (setting.top || setting.bottom) {
        this.$parent.pos.h = event.clientY
        this.$parent.delta.h = this.height
      }
      for (const i in setting) {
        if (setting[i]) {
          this.$parent.resizingParams[i] = true
        }
      }
    },

    resizeStop (e) {
      this.$parent.mouseup()
    },

    mouseup (e) {
      this.$parent.mouseup()
    }
  }
}
</script>

<style lang="scss" scoped>
@import "$v-colors-css";
@import "../../assets/css/extends.scss";

.window {
  position: absolute;
  background-color: map-get($grey, "darken-4");
  display: grid;
  grid-template-areas: "border-top-left border-top border-top-right"
  "border-left header border-right"
  "border-left body border-right"
  "border-bottom-left border-bottom border-bottom-right";
  grid-template-columns: 3px auto 3px;
  grid-template-rows: 3px 30px auto 3px;
  z-index: 0;

  &_active {
    z-index: 1;
    box-shadow: black 0px 0px 10px 3px;
    .window__header {
      background-color: map-get($blue, "darken-1");
      .header__title {
        color: white;
      }
    }

    .window__border-top-left {
      background-color: map-get($blue, "darken-1");
      @extend %noselect;
    }

    .window__border-top {
      background-color: map-get($blue, "darken-1");
      @extend %noselect;
    }

    .window__border-top-right {
      background-color: map-get($blue, "darken-1");
      @extend %noselect;
    }

    .window__border-left {
      background-color: map-get($blue, "darken-1");
      @extend %noselect;
    }

    .window__border-right {
      background-color: map-get($blue, "darken-1");
    }

    .window__border-bottom-left {
      background-color: map-get($blue, "darken-1");
    }

    .window__border-bottom {
      background-color: map-get($blue, "darken-1");
    }

    .window__border-bottom-right {
      background-color: map-get($blue, "darken-1");
    }
  }

  &__border-top-left {
    background-color: map-get($grey, "lighten-1");
    grid-area: border-top-left;
    cursor: nwse-resize;
    @extend %noselect;
  }

  &__border-top {
    background-color: map-get($grey, "lighten-1");
    grid-area: border-top;
    cursor: ns-resize;
    @extend %noselect;
  }

  &__border-top-right {
    background-color: map-get($grey, "lighten-1");
    grid-area: border-top-right;
    cursor: nesw-resize;
    @extend %noselect;
  }

  &__header {
    grid-area: header;
    background-color: map-get($grey, "lighten-1");
    display: flex;
    align-items: center;
    overflow: hidden;
    @extend %noselect;
  }

  &__border-left {
    background-color: map-get($grey, "lighten-1");
    grid-area: border-left;
    cursor: ew-resize;
    @extend %noselect;
  }

  &__body {
    grid-area: body;
    background-color: white;
    overflow-x: hidden;
  }

  &__border-right {
    background-color: map-get($grey, "lighten-1");
    grid-area: border-right;
    cursor: ew-resize;
    @extend %noselect;
  }

  &__border-bottom-left {
    background-color: map-get($grey, "lighten-1");
    grid-area: border-bottom-left;
    cursor: nesw-resize;
    @extend %noselect;
  }

  &__border-bottom {
    background-color: map-get($grey, "lighten-1");
    grid-area: border-bottom;
    cursor: ns-resize;
    @extend %noselect;
  }

  &__border-bottom-right {
    background-color: map-get($grey, "lighten-1");
    grid-area: border-bottom-right;
    cursor: nwse-resize;
    @extend %noselect;
  }
}

.header {
  &__title {
    text-align: center;
    flex-grow: 2;
    color: black;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 10px;
    cursor: move;
  }

  &__close {
    background-image: url(../../assets/img/cross.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: map-get($red, "base");
    min-width: 15px;
    height: 15px;
    border-radius: 50%;
    background-size: 50% 50%;
    margin-right: 3px;
    cursor: pointer;
  }
}
</style>
