<template>
  <v-app>
    <div class="topbar">
      <div class="topbar__currentPage">
        <v-select
          v-model="route"
          :items="routes"
          label="Page"
          hide-details
          dark
          color="#41b883"
          height="20"
          @change="pageChange"
        />
      </div>
    </div>
    <nuxt />
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      routes: [],
      route: this.$nuxt.$route.name
    }
  },
  created () {
    this.$router.options.routes.forEach((route, index) => {
      this.routes.push({
        text: this.$store.state.route.localization[route.name],
        value: route.name
      })
    })
  },
  methods: {
    pageChange (e) {
      this.$router.replace({ name: e })
    }
  }
}
</script>

<style lang="scss">
  @import "$v-colors-css";

  .topbar {
    height: 50px;
    width: 100%;
    background-color: #35495e; // #41b883
    color: white;

    &__currentPage {
      width: 120px;
      margin: 9px 5px;
    }
  }
</style>
