<template>
  <div class="windowManager" @mousemove="move">
    <div class="windowManager__desktop">
      <Window
        v-for="(p, i) in process"
        :key="p.title"
        :width="p.width"
        :height="p.height"
        :left="p.left"
        :top="p.top"
        :right="p.right"
        :bottom="p.bottom"
        :title="p.title"
        :ip="i"
        :active="scope === null ? false : scope.ip === i"
        :show="!p.stopped"
      />
    </div>
    <div class="windowManager__window-tiles" @mouseup="mouseup">
      <Tile
        v-for="(p, i) in process"
        :key="p.title"
        :title="p.title"
        :active="scope === null ? false : scope.ip === i"
        :ip="i"
        :show="!p.stopped"
      />
    </div>
    <context-menu />
  </div>
</template>

<script>
import Window from '../components/index/Window.vue'
import Tile from '../components/index/Tile.vue'
import ContextMenu from '../components/index/ContextMenu.vue'

export default {
  components: {
    Window,
    Tile,
    ContextMenu
  },

  data () {
    return {
      process: {
        'server': { title: 'Server', width: 550, height: 450, left: 0, top: 0, vm: null, stopped: false },
        'channel': { title: 'Channel', width: 550, height: 450, left: 0, top: 0, vm: null, stopped: false },
        '127.0.0.1': { title: 'Client 1', width: 550, height: 450, left: 0, top: 0, vm: null, stopped: false }
      },
      dragging: null,
      resizing: null,
      resizingParams: {
        top: false,
        right: false,
        bottom: false,
        left: false
      },
      scope: null,
      pos: {
        x: 0,
        y: 0,
        h: 0,
        w: 0
      },
      delta: {
        x: 0,
        y: 0,
        h: 0,
        w: 0
      },
      minHeight: 300,
      minWidth: 300
    }
  },

  mounted () {
    this.$bus.$on('call', this.call)
  },

  beforeDestroy () {
    this.$bus.$off('call', this.call)
  },

  methods: {
    move (e) {
      if (this.dragging !== null) {
        const ip = this.dragging.ip
        this.process[ip].left = this.pos.x + (e.clientX - this.delta.x)
        this.process[ip].top = this.pos.y + (e.clientY - this.delta.y)
      } else if (this.resizing !== null) {
        const ip = this.resizing.ip
        if (this.resizingParams.bottom) {
          const newHeight = this.delta.h + (e.clientY - this.pos.h)
          this.process[ip].height = newHeight >= this.minHeight ? newHeight : this.minHeight
        } else if (this.resizingParams.top) {
          const dom = this.process[ip].vm.$el
          const style = window.getComputedStyle(dom)
          const bottom = parseInt(style.bottom.replace('px', ''))
          this.process[ip].bottom = bottom
          const newHeight = this.delta.h - (e.clientY - this.pos.h)
          this.process[ip].height = newHeight >= this.minHeight ? newHeight : this.minHeight
        }
        if (this.resizingParams.right) {
          const newWidth = this.delta.w + (e.clientX - this.pos.w)
          this.process[ip].width = newWidth >= this.minWidth ? newWidth : this.minWidth
        } else if (this.resizingParams.left) {
          const dom = this.process[ip].vm.$el
          const style = window.getComputedStyle(dom)
          const right = parseInt(style.right.replace('px', ''))
          this.process[ip].right = right
          const newWidth = this.delta.w - (e.clientX - this.pos.w)
          this.process[ip].width = newWidth >= this.minWidth ? newWidth : this.minWidth
        }
      }
    },

    stop (ip) {
      this.process[ip].stopped = true
      delete this.process.ip
    },

    send (sender, reciever, service, params) {
      if (this.process[reciever]) {
        const from = this.process[sender].vm
        const to = this.process[reciever].vm
        const channel = this.process.channel.vm.$children[0]
        channel.send(from, to, service, params)
      } else {
        console.error(`process ${reciever} does not exists`)
      }
    },

    call (ip) {
      if (this.process[ip] !== undefined) {
        return this.process[ip]
      } else {
        return null
      }
    },

    mouseup () {
      if (this.resizing) {
        const ip = this.resizing.ip
        if (this.resizingParams.left) {
          this.process[ip].right = null
          const dom = this.process[ip].vm.$el
          const style = window.getComputedStyle(dom)
          const left = parseInt(style.left.replace('px', ''))
          this.process[ip].left = left
        }
        if (this.resizingParams.top) {
          this.process[ip].bottom = null
          const dom = this.process[ip].vm.$el
          const style = window.getComputedStyle(dom)
          const top = parseInt(style.top.replace('px', ''))
          this.process[ip].top = top
        }
      }
      this.resizing = null
      this.resizingParams.top = false
      this.resizingParams.right = false
      this.resizingParams.bottom = false
      this.resizingParams.left = false
      this.dragging = null
      this.pos.x = 0
      this.pos.y = 0
      this.pos.h = 0
      this.pos.w = 0
      this.delta.x = 0
      this.delta.y = 0
      this.delta.h = 0
      this.delta.w = 0
    }
  }
}
</script>

<style lang="scss" scoped>
@import "$v-colors-css";
@import "../assets/css/extends.scss";

.windowManager {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "desktop"
    "tiles";
  grid-template-rows: auto 32px;

  &__desktop {
    grid-area: desktop;
    position: relative;
    overflow: hidden;
  }

  &__window-tiles {
    grid-area: tiles;
    background-color: #1e2833; // #41b883
    color: white;
    display: flex;
    align-items: center;
  }
}
</style>
